/*****************************************************************************
  ProjGeoguess
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

html{
	font-size:16px;
	line-height: 1.35;
	box-sizing:border-box;
}

*,
*:before,
*:after {
}

img{
	max-width: 100%;
}





/*****************************************************************************
  Layout Styles
******************************************************************************/

.header-icon{
	@include span-columns(3);
	text-align: center;
}
.header-filler{
	@include span-columns(6);
	text-align: center;
}
.header-signup{
	@include span-columns(3);
	text-align: center;
}
section.top-page{
	//position:relative;
	width: 100%;
	//height: 100%;
	padding-bottom: 5%;
	overflow: hidden;
}

header.page-header{
	color:white;
	position:absolute;
	top:0;
	height: 60px;
	width: 100%;
	background-color: black;
}

article.lets-play{
	padding-top:-43px;
	width: 100%;
	height: 1080px;
	color:white;
	box-sizing:border-box;
	font-family:$georgia;
	position: fixed;
	text-align: center;
	top: 50%;
  	//@include transform(translateY(-50%));
  	height: 86px;
}



/*****************************************************************************
  Module Styles
******************************************************************************/
@media screen and (max-width: 849px){
	section.bg-img{
		background-image: url("/images/toronto-848x1080.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 3%;
		height: 1080px;
	}
}


@media screen and (min-width: 850px) and (max-width: 1279px){
	section.bg-img{
		background-image: url("/images/toronto-1280x1024.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 3%;
		height: 1024px;
	}
}

@media screen and (min-width: 1280px) {
	section.bg-img{
		background-image: url("/images/toronto-1920x1080.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 3%;
		height: 1080px;
	}
	
}